.div-questions{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    left: 36%;
    top: 8.44rem;
    overflow-y: scroll;
}

@media (max-width: 990px){
    .div-questions{
        left: 5%;
    }
}


