.oval {
    width: 28rem;
    height: 309.286px;
    transform: rotate(50deg);
    background-color: #4706B0;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 31rem
}

@media (max-width: 990px) {
    .oval {
        top: -100px;
        left: -1rem;
    }
}