
@media screen and (max-width:600px) {
.rm-about_hero{
    padding: 0  auto;
    padding-top:4rem  ;
    margin: auto;
}
.rm_about_title{
color: var(--white);
text-align: center;
font-family: Montserrat;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rm_about_img1{
/*  width: 36rem;
height: 20.2rem; */
padding-top:2rem ;
width: 100%;
}
}