.rm_login {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg,
      rgba(230, 222, 45, 0.85) 1.14%,
      rgba(230, 222, 45, 0.85) 47.95%,
      rgba(71, 6, 176, 0.85) 95.68%);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 9.4rem;
}

.rm_login_space {
  width: 31.2rem;
  height: 36.2rem;
  padding: 1.5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: var(--white);
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.78rem;
}

.rm_numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rm_number1 {
  width: 3rem;
  height: 3rem;
  background-color: var(--Dark-blue);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rm_liner {
  width: 22.6rem;
  height: 0.5rem;
  background: linear-gradient(270deg, #fff 33.71%, #1d2951 50%);
}

.rm_liner2 {
  width: 22.6rem;
  height: 0.5rem;
  background: linear-gradient(270deg, #1d2951 50%, #1d2951 50%);
}

.rm_number2 {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

.rm_login_text {
  color: rgba(0, 0, 0, 0.86) !important;
  font-size: 1.8rem !important;
  font-weight: 500;

}

.rm_login_input {
  width: 26.4rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.17);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.rm-btns{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rm_login_submit {
  width: 9.6rem;
  height: 4.2rem;
  color: rgba(255, 255, 255, 0.82);
  font-size: 1.4727rem;
  font-weight: 600;
  background-color: var(--secondary);
  border-radius: 1.8rem;

}

@media (max-width: 990px) {
  .rm_number1 , .rm_number2 {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1rem;
  }

  .rm_login_space {
    width: 19.5rem;
    height: 22.625rem;
  }

  .rm_liner {
    width: 14.125rem;
    height: 0.3125rem;
  }

  .rm_liner2 {
    width: 14.125rem;
    height: 0.3125rem;
  }

  .rm_login_text {
    font-size: 1.125rem !important;
  }

  .rm_login_input {
    width: 16.5rem;
    height: 3.125rem;
  }

  .rm_login_submit {
    width: 6rem;
    height: 2.625rem;
    font-size: 0.92044rem;
  }
}