.rm_login_space2 {
  width: 31.2rem !important;
  height: 61.2rem !important;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #fff;
  margin: 0rem auto;
}
.rm_login_text2 {
  color: rgba(0, 0, 0, 0.86) !important;
  font-size: 1.8rem !important;
  font-weight: 500;
  margin-left: 2.4rem;
}
