@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat;
  --black: rgba(0, 0, 0, 0.25);
  --Dark-grey: #383838;
  --Dark-blue: #1d2951;
  --Dark-grey2: rgba(0, 0, 0, 0.17);
  --primaray: #e6de2d;
  --secondary: #4706b0;
  --white: #fff;
  --white2: #d9d9d9;
  --white3: rgba(255, 255, 255, 0.84);
  --light-grey: #a7a7a7;
  --green: #7c8700;
  --main-delay: 0.5s;
  --indicators-color: #d2d2d2;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primaray);
  padding-top: 24px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.project-container {
  padding: 0 6.67%;
}

.show-sidebar {
  opacity: 0.8;
  background: rgba(179, 172, 40, 0.9);
}
